<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<base href="/">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="./test.css"/>
	</head>
	<body ng-app="demoApp">
        <div ng-controller="demoCtrl as demo">

            <div class="row">
                <div class="small-12 columns text-center">
                    <h3>nImage module</h3>
                </div>
                <div class="small-6 columns">
                    <h5>n-image-options:</h5>
                    <h6>the following options can be used on each directive-instance</h6>
                    <ul>
                        <li>
                            <p><pre>fallbackImage</pre></p>
                            <p>String or url</p>
                        </li>
                        <li>
                            <p><pre>loadingTemplateUrl</pre></p>
                            <p>Let's you use a template as the loading "spinner"</p>
                        </li>
                        <li>
                            <p><pre>loadingTemplate</pre></p>
                            <p>Let's you use a string or inline markup as the loading "spinner".</p>
                            <p>NOTE: if <strong>loadingTemplateUrl</strong> is defined, this options is ignored.</p>
                        </li>
                        <li>
                            <p><pre>disableLazy</pre></p>
                            <p>Disable lazy loading of images</p>
                        </li>
                        <li>
                            <p><pre>nodesCDN</pre></p>
                            <p>If true the following attributes are attached to the image src url: <pre>width, height, mode[crop,resize,fit]</pre></p>
                        </li>
                        <li>
                            <p><pre>offest</pre></p>
                            <p>Amount of distance from the bottom of the scrollable container before image is loaded</p>
                        </li>
                    </ul>
                </div>
                <div class="small-6 columns">
                    <h5>n-image attributes</h5>
                    <h6>the following node-attributes can be used:</h6>
                    <ul>
                        <li>
                            <p><pre>n-src</pre></p>
                            <p>The source of the image. The standard "src" attribute is not supported as this gives people a chance to inject malicious code</p>
                        </li>
                        <li>
                            <p><pre>n-image-container</pre></p>
                            <p>If you are using lazyload, and the scroll happens inside a container (not the window), make sure to write the container selector in this attribute</p>
                            <p><pre>n-image-container="#container"</pre></p>
                        </li>
                        <li>
                            <p><pre>aspect-ratio</pre></p>
                            <p>If provided the image-container will be styled as an aspect-ratio container.</p>
                            <p>The following aspect ratios are provided by default: 4-2, 2-1, 16-9, 3-2, 1-1, 4-3, 3-4, but feel welcome to add more (look in the scss for examples)</p>
                        </li>
                        <li>
                            <p><pre>alt</pre></p>
                            <p>Just as you know it :-)</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns text-center">
                    <h3>Demo tiem</h3>
                </div>
                <div class="small-12 columns">
                    <h5>Using the Nodes CDN:</h5>
                </div>
                <div class="small-4 columns">
                    <h6>width="200" height="200" mode="crop" n-image-options="demo.nodesCDNoptions"</h6>
                    <div n-image
                         n-image-options="demo.nodesCDNoptions"
                         width="200"
                         height="200"
                         mode="crop"
                         n-src="https://d1gwekl0pol55k.cloudfront.net/image/dnf-biodiv/default/Egern.dUMocWKYJB.jpg"></div>
                </div>
                <div class="small-4 columns">
                    <h6>width="200" height="200" mode="fit" n-image-options="demo.nodesCDNoptions"</h6>
                    <div n-image
                         n-image-options="demo.nodesCDNoptions"
                         width="200"
                         height="200"
                         mode="fit"
                         n-src="https://d1gwekl0pol55k.cloudfront.net/image/dnf-biodiv/default/Egern.dUMocWKYJB.jpg"></div>
                </div>
                <div class="small-4 columns">
                    <h6>width="200" height="200" mode="resize" n-image-options="demo.nodesCDNoptions"</h6>
                    <div n-image
                         n-image-options="demo.nodesCDNoptions"
                         width="200"
                         height="200"
                         mode="resize"
                         n-src="https://d1gwekl0pol55k.cloudfront.net/image/dnf-biodiv/default/Egern.dUMocWKYJB.jpg"></div>
                </div>
                <hr/>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h5>Lazy examples</h5>
                </div>
                <div class="small-6 columns">
                    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                        <li ng-repeat="img in demo.images">
                            <div n-image
                                 n-src="img"
                                 n-image-options="demo.imageOptions"
                                 alt="One image"></div>
                        </li>
                    </ul>
                </div>

                <div class="small-6 columns" id="wrapperContainer" style="height: 500px; overflow-y: auto">
                    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                        <li ng-repeat="img in demo.innerImages">
                            <div n-image
                                 n-image-container="#wrapperContainer"
                                 n-src="img"
                                 n-image-options="demo.imageOptions"
                                 alt="One image"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h5>Aspect examples</h5>
                    <ul class="small-block-grid-4">
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-4-2">4-2</div></li>
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-2-1">2-1</div></li>
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-16-9">16-9</div></li>
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-3-2">3-2</div></li>
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-1-1">1-1</div></li>
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-4-3">4-3</div></li>
                        <li><div class="n-image__wrapper n-image__aspect-wrapper n-image--ratio-3-4">3-4</div></li>
                    </ul>
                </div>
            </div>

            <!--<div id="imageWrappingContainer" style="height: 500px; overflow-y: auto;">-->
                <!--<div ng-repeat="img in demo.images">-->
                    <!--<div n-image-->
                         <!--n-src="img"-->
                         <!--n-image-container="#imageWrappingContainer"-->
                         <!--n-image-options="demo.imageOptions"></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-repeat="img in demo.images">-->
                <!--<div n-image n-src="img" width="800" height="600"></div>-->
            <!--</div>-->
            <!--<div ng-repeat="img in demo.images">-->
                <!--<div n-image n-src="img"></div>-->
            <!--</div>-->
        </div>
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="dist/nImage.js"></script>
		<!-- endbower -->

		<!--<script src="src/nImage.module.js"></script>-->
		<!--<script src="src/nImage.directive.js"></script>-->

		<script>
			angular.module('demoApp', ['nImage', 'ngAnimate']);

            angular.module('demoApp')
                    .controller('demoCtrl', demoCtrl)
            function demoCtrl() {
                var vm = this;

                vm.nodesCDNoptions = {
                    loadingTemplateUrl: 'loading-test.html'
                };

                vm.imageOptions = {
//                    fallbackImage: 'http://placehold.it/768x100/000000/ffffff&text=fallbackImage',
                    loadingTemplateUrl: 'loading-test.html',
//                    loadingTemplate: '<h1>Nedlaster...</h1>',
                    disableLazy: false,
                    nodesCDN: false,
                    aspectRatio: '4-3'
                };

                vm.altText = 'My alt text defined in some controller';

                vm.images = [];
                vm.innerImages = [];

                vm.randomize = function() {
                    vm.images = [];
                    for(var i = 0; i < 200; i++) {
                        var img = _generateRandomImage();
                        vm.images.push(img);
                    }
                };
                vm.randomizeInner = function() {
                    vm.innerImages = [];
                    for(var i = 0; i < 200; i++) {
                        var img = _generateRandomImage();
                        vm.innerImages.push(img);
                    }
                };
                vm.randomize();
                vm.randomizeInner();

                function _generateRandomImage() {
                    var color = Math.floor(Math.random()*16777215).toString(16);
                    return 'http://placehold.it/800x600/' + color + '/ffffff';
                }
            }
		</script>
	</body>
</html>
