$nodes-images-wrapper-background: #eee !default;

.n-image__wrapper {
	position: relative;
	background: $nodes-images-wrapper-background;
}

.n-image__aspect-wrapper {
	position: relative;
	height: 0;
	overflow: hidden;
	display: block;
}

.n-image__loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.n-image__fallback {

}

.n-image {
	width: 100%;
}

.n-image,
.n-image__loader {
	opacity: 1;

	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove.ng-hide-remove-active{
		transition: opacity 5s;
	}

	&.ng-hide {
		opacity: 0;
	}
}

.n-image--ratio-4-2,
.n-image--ratio-2-1 {
	padding-bottom: 50%; /* (2/4)*100 */
}
.n-image--ratio-16-9 {
	padding-bottom: 56.25%; /* (9/16)*100 */
}
.n-image--ratio-3-2 {
	padding-bottom: 66.67%; /* now calculation is clear, right :) */;
}
.n-image--ratio-1-1 {
	padding-bottom: 100%;
}
.n-image--ratio-4-3 {
	padding-bottom: 75%;
}
.n-image--ratio-3-4 {
	padding-bottom: 133%;
}